<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kunlun.good.GoodMapper">
    <insert id="add" parameterType="com.kunlun.entity.Good">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO t_good(
        good_name,
        description,
        promotion,
        price,
        sale_volume,
        discount,
        stock,
        on_sale,
        hot,
        is_new,
        create_date,
        last_update_date,
        freight,
        brand_id,
        seller_id,
        visit_total,
        good_no,
        main_image_url,
        status,
        rich_content,
        seo,
        freight_fee)
        VALUE (
        #{goodName},
        #{description},
        #{promotion},
        #{price},
        #{saleVolume},
        #{discount},
        #{stock},
        #{onSale},
        #{hot},
        #{isNew},
        NOW(),
        NOW(),
        #{freight},
        #{brandId},
        #{sellerId},
        #{visitTotal},
        #{goodNo},
        #{mainImageUrl},
        'NORMAL',
        #{richContent},
        #{seo},
        #{freightFee})
    </insert>
</mapper>